
.card {
    width: 250px; 
    background-color: #fff;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.card-top {
    padding: 15px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.restoCard {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    background-color: white;
}

.pessoas{
    margin: 10px 0;
    color: #7c7c7c;
    font-size: 14px;
}
.planos1{
    font-size: 14px;
    color: black;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    width: 180px;
    
}

.botaoplanos {
    background-color: #6B74E6;
    color: black;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    width:150px;
    margin-top: 30px;
    border-color: black;
    display: flex;
    justify-content: center;
}

.botaoplanos:hover {
    background-color: #575fcf;
}


.restoCard img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.titulo{
    color: black;
}