.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 100%;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.text-content {
  flex: 1;
  text-align: left;
  padding-right: 20px;
}

.home h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.home p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.home-button {
  padding: 15px 30px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 25px;
}

.home-image {
  flex: 1;
  /* max-width: 100%;
  height: 400px; */
  margin-left: 200px;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}
