


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* background-color: white; */

}

html, body {
    height: 100vh;
    font-family: Arial, sans-serif;

}


.tudo{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    align-items: center;

    
}
.container-1, .container-2{

    height: 100%;
    display: flex;
    width: 40%;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);


}
.container-1{
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    overflow: auto;
    overflow: hidden;
    word-break: break-word;
    

}

.container-2{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    

}


.imagem-1, .imagem-2{
    height: 600px;
    width: 270px;
    background-color: brown;
    border-radius: 30px;
}


.imagem-1{
    background-image: url(https://s3-alpha-sig.figma.com/img/bc29/5f3d/7a5c9308bdb1bbf1abc6cca471b6e6bb?Expires=1726444800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=p3bpyTZSUeyRnQOh3U3~m~SRRqoJqCRGGYqRE~gEnfUwjL9ZkEKrI4dcFkVfFbGvruskCISeZ0M2c-3iVgVv6xNT0fCy~l6Oi9DFyypKoDA7oqN1zF9bKwc9kIkVNyNFaJLLJUUWpvCzFBODZoaP75cqKZWlm59dHvUYbcmgsTXIALqbOY-yt-n-cyzq3KRPpJSPSLtFqKoe9hbYD8IF-HgmCOPuGYrN4808TURK5yHQh5AJc~CbfRoGzLLKpVfltNsh1ht-Do2CDTho~kgbKY2rudAP~V6AHCXLHIUpih5hil~rkK9KCU8mTCXhjmQ8r9Gwki7UtB7hAWtuY2INHQ__);
    background-size:contain;
}
.imagem-2{
    background-image: url(https://s3-alpha-sig.figma.com/img/b755/2471/42f19cf580913103daa93e9be17d90c4?Expires=1726444800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Xj5uMzvJ8QSDaAu4YKUzufFYzXsUgAGGDNrcnknj8F3P3Xs6-mzxUs-QXXctrvPCPAQVgbSF4sUrfMf5HMUhit9YZ5jgql4OV6tCTjGf07~DWaPoJE-6AuJAl-31BiiI2o~TjMBVzxEsEf-y~B1ji~OakJMTd3nAzkACWR6YeAE5GkOanTFLu1ZU1FIWOqjk04f5JArZOhF~aDoQRAeNCi18-F--P-I4XRIKaFk0SQ5SXY85EdtrxWilOE9aB1q~YaX457EZpIEacpZUd41~bAivKG2u1QTe0D2lwB-Vx87gi2Yeo4dgSGKrXr5GgEsWeEH2JHzV7Kd2gzq2ielYdw__);
    background-size: contain;
}


.texto{
    display: flex;
    flex-direction: column;
    color: black;
    font-size: xx-large;
}

.botao{
    padding: 30px 90px;
    font-size: 18px;
    border-radius: 50px; 
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.novo-conteudo {
    margin-top: px; /* Espaçamento entre o conteúdo existente e o novo */
    padding: 20px;
    background-color: rgb(240, 240, 240); /* Estilo opcional para diferenciação */
    width: 100%;
}

.tituloplanos{
    margin-top: 50px;
    color: black;
    display: flex;
    justify-content: space-around;
    font-size: 30px;

}

.planos{
    display: flex;
    flex: row;
    justify-content: center;
    margin-top: 50px;
}


